*{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
.container .header{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
.container .header a{
    font-size: 12px;
    color: white;
}
.container .header i{
    color: white;
}

.container .content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container .content .slide1{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/slide1.jpeg);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
}
.container .content .slide1 .slide1Content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 60px;
}
.container .content .slide1 .slide1Content h1{
    font-size: 46px;
    color: white;
    margin-bottom: 0;
    font-weight: 600;
}
.container .content .slide1 .slide1Content h3{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 400;
    color: white;
}
.container .content .slide1 .slide1Content .links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.container .content .slide1 .slide1Content .links div i{
    color: #2997ff;
    font-size: 21px;
}
.container .content .slide1 .slide1Content .links div a{
    color: #2997ff;
    font-size: 21px;
}
.container .content .slide1 .slide1Content .links div a:hover{
    border-bottom: 2px solid #2997ff;
}
.container .content .slide1 .slide1Content .links div a div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container .content .slide2{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/slide2.jpeg);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
}